.cardone {
    /*  height: 100%; */
    border-radius: 50px;
    background: linear-gradient(135deg, rgb(254, 99, 64) 0%, rgb(255, 187, 164) 100%);
    transition: all 0.5s ease-in-out;
    transform-style: preserve-3d;
    box-shadow: rgba(5, 71, 17, 0) 40px 50px 25px -40px, rgba(5, 71, 17, 0.2) 0px 25px 25px -5px;
  }



  .custom-primary-btn {
    .btn-primary {
      color: #000;
      /* background-color: #fe5d37; */
      border-color: none;
  }
  }
  