/* Add this CSS to your stylesheet */
.wave-container {
    position: absolute;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 1;
  }
  
  .wave-container svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px); /* Fix for a slight rendering issue in some browsers */
    height: auto;
  }
  
  .container-fluid {
    position: relative;

  }
  .slick-slider{
    
  }
  .position-relative {
    position: relative;
  }
  .slide-content {
    position: absolute;

    top: 20px;
    /* bottom: 70px;  */
    /* Adjust as needed */
    left: 0;
    right: 0;
    text-align: center;
  }
  
  /* Adjust the styles of your existing classes as needed */
  
  /* Example styles for the top and bottom waves */
  .wave-container.top {
    top: 0;
  }
  
  .wave-container.bottom {
    bottom: 0;
    transform: rotate(180deg); /* Flip the bottom wave */
  }
  /* Add this CSS to your stylesheet */

/* ... (Your existing CSS) */

/* Example media queries for adjusting the waves */

@media only screen and (max-width: 320px) {
  .tophead{
  display: none;
}
.toppara{
  font-size: 5px;
  margin-top: 20px;
}
.slick-slider {
  /* height:170%; */
width:100%

  /* Hide the waves on smaller screens */
}
.img-fluid{
  width: 170% !important;
}
}
/* Add this CSS to your stylesheet or CSS file */

/* For screens with a width of 400 pixels or less */
@media (max-width: 500px) {
  .toppara,
  .tophead {
    display: none;
  }
}


@media only screen and (max-width: 1200px) {
  .container-fluid {
    /* height:170%; */
width:100%
  
    /* Hide the waves on smaller screens */
  }
.img-fluid{
  width: 170% !important;
  height: auto;
}
}
