/* Cards.css */
/* 
@media (max-width: 1200px) {
  .text-left {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .text-center {
    position: static;
    transform: none;
    width: 100%;
  }

  .text-left {
    margin-left: 0;
  }
} */

  /* Classcard.css */


